<%- include('../includes/head.ejs') %>
<head>
    <body>
        <div class="mt-4">
            <div class="container">
                    <div class="row">
        
                <% for (let instrument of ins) { %>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-course-item ">
                            <a href="/instrument/<%= instrument.id %>">
                                <img class="card-img-top" src="<%= instrument.imageUrl %>" alt="<%= instrument.title %>">
                            </a>
                            <div class="card-body">
                                <a href="/instrument/<%= instrument.id %>">
                                    <h5 class="card-title"><%= instrument.title %></h5>
                                </a>
                            
                                <p class="card-text"><%= instrument.description %></p>
                                <% if (isAuthenticated) { %>
                                <a href="/admin/edit/<%= instrument.id %>?edit=true" class="btn btn-primary">Edit</a>
                                <div class="card__actions">
                                    <form action="/admin/delete" method="POST">
                                        <input type="hidden" value="<%= instrument.id %>" name="instrumentId">
                                        <button class="btn"  type="submit">Delete</button>
                                    </form>
                                </div>
                                
                                <% } %>
                                
                            </div>
                        </div>
                    </div>
                    <% } %>
        
        
                </div>
            </div>
        </div>
    </body>
</head>
